@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-text: #333333;
    --color-accent: #60e1e0;
}

body {
    font-family: "Inter", sans-serif;
    @apply text-text;
}
